strict-ssl=false
registry=https://registry.npmjs.org/

strict-ssl=false
cafile=/usr/share/ca-certificates/ing/insg3_b64.crt

proxy=http://127.0.0.1:3128/
https-proxy=http://127.0.0.1:3128/

#Auth = cGc2M3V4OkFQNnlRdURidTQ5dG5TN0pLVDh1ZWFGeFN6Tg==
##always-auth = true
#email = Theo.Hoekstra@ing.nl

